### Q1

Name the four built-in data structures in python. Give one examples for each

In [4]:
#list
thislist = ["apple", "banana", "cherry"]

In [6]:
#sets 
myset = {"apple", "banana", "cherry"}

In [7]:
#tuples
mytuple = ("apple", "banana", "cherry")

In [5]:
#dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
# 1. A list is mutable but a tuple is immutable.
# 2. List are written with square brackets and tuples are written with normal brackets.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [8]:
animal_list = ['lion', 'dog', 'cat', 'horse', 'donkey']

In [9]:
print (animal_list[:2])

['lion', 'dog']

In [10]:
print (animal_list[3:])

['horse', 'donkey']

In [11]:
animal_list.extend(['sheep', 'goat', 'monkey'])
print(animal_list)

['lion', 'dog', 'cat', 'horse', 'donkey', 'sheep', 'goat', 'monkey']

In [12]:
animal_list.remove('lion')
print(animal_list)

['dog', 'cat', 'horse', 'donkey', 'sheep', 'goat', 'monkey']

In [13]:
animal_list.remove('dog')
print(animal_list)

['cat', 'horse', 'donkey', 'sheep', 'goat', 'monkey']

In [14]:
print(len(animal_list))

6

In [16]:
animal_set = set(animal_list)
print(animal_set)

{'monkey', 'donkey', 'horse', 'sheep', 'cat', 'goat'}

In [17]:
print (len(animal_set))

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [18]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
suitcase

['sunglasses', 'hat', 'passport', 'laptop', 'suit', 'shoes']

In [24]:
first = print(suitcase[:2])

['sunglasses', 'hat']

In [25]:
middle = print(suitcase[2:4])

['passport', 'laptop']

In [26]:
last = print(suitcase[4:])

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [28]:
values = [20,25,30,40,45,50,55,60,65,70]
values.insert(3, 35)
print(values)

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
# Tuples are prefered if you do not want the values in the set to be changed

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [29]:
regional_capital = {
  "Volta": "Ho",
  "Ashanti": "Kumasi",
  "Greater Accra": "Accra",
  "Northern Accra": "Tamale",
  "Central Accra": "Cape Coast",
}

In [31]:
print(regional_capital.keys())

dict_keys(['Volta', 'Ashanti', 'Greater Accra', 'Northern Accra', 'Central Accra'])

In [32]:
print(regional_capital.values())

dict_values(['Ho', 'Kumasi', 'Accra', 'Tamale', 'Cape Coast'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [66]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]
values

[3, 4, 5, 6, 3, 4, 3, 5, 2, 4, 2, 5, 6, 1, 6, 3]

In [48]:
print(len(values))

16

In [70]:
diction = {}

for value in values:
    diction[value] = values.count(value)
    
max_value = max(diction.values())
 
print (f'{diction.get(max_value)} is the highest occurring number')

3 is the highest occurring number

In [49]:
values_set = set(values)
values_set

{1, 2, 3, 4, 5, 6}

In [50]:
print(len(values_set))

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [60]:
d = {}

for num in range(1,16):
    d[num] = num**2
    
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [62]:
keys = ['x', 'y', 'z']


dictionary = {}
for key in keys:
    if key == 'x':
        dictionary[key] = list(range(11,21))
    elif key == 'y':
            dictionary[key] = list(range(21,31))
    else:
        dictionary[key] = list(range(11,21))
        
for key in keys:
    print(f'{key} : {dictionary[key][4]}')

x : 15
y : 25
z : 15