### Q1
List the basic data types in python and give one example each.

In [ ]:
Integer - 100
Float - 123.456
Strings - "Emefa"
Bolean - True or False

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [46]:
x = 4539.85
x

4539.85

In [49]:
y = str(y)
y

'4539.85'

In [51]:
z = int(z)
z

4539

In [52]:
type(y)

str

In [53]:
type(z)

int

### Q3

What data type would you use to store

a. The price of car?

b. The age of a person

c. car plate number: plateNumber = "AV01-AFP"?

d. The price of fuel

e. The number of students in the class

f. The weight of a person

g. Check whether two figures are equal

i. The name of a  school

j. The average result of the overall score of a student 

k. The total number of vote cast

In [ ]:
a. Integer
b. Integer
c. String
d. Float
e. Integer
f. Float
g. Boolean
h. String
i. String
j. Float
k. Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [94]:
statement_1 = 'Thomas Partey is arguably the best player in the Black Stars.'
statement_2 = 'He is a great addition to the team'

In [95]:
len(statement_1)

61

In [96]:
len(statement_2)

34

In [97]:
len(statement_1) > len(statement_2)

True

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
True = 1
False = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [122]:
46 < 78 and 78 < 30 and 30%2

False

In [113]:
(8-2)%2 == 0 or 8%2 == 0

True

In [114]:
len('boostrap') == 7 and len('sample') == 6

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [74]:
word='Hello, How are you?'
print (word[7:10])

How

In [82]:
word='Hello, How are you?'
print (word[7:18])

How are you

In [85]:
word='Hello, How are you?'
print (word[11:14])

are

In [90]:
word='Hello, How are you?'
print (word[-1])

?

In [92]:
word='Hello, How are you?'
print (word[:-1])

Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [27]:
sentence = "I am very excited"
sentence.upper()

'I AM VERY EXCITED'

In [24]:
sentence = "I am very excited"
sentence.lower()

'i am very excited'

In [25]:
sentence = "I am very excited"
sentence.title()

'I Am Very Excited'

In [26]:
sentence = "I am very excited"
sentence.split()

['I', 'am', 'very', 'excited']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [54]:
word = 'OneThirtyEight'
print (word[:3])

One

In [55]:
word = 'OneThirtyEight'
print (word[3:9])

Thirty

In [58]:
word = 'OneThirtyEight'
print (word[9:])

Eight

In [59]:
word = 'OneThirtyEight'
print (word[:9])

OneThirty

In [60]:
word = 'OneThirtyEight'
print (word[3:])

ThirtyEight

In [69]:
word.upper()

'ONETHIRTYEIGHT'

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [68]:
name = "Ault'Kelly"
name

"Ault'Kelly"